#content{
    background-color: rgb(230, 231, 233);
    padding-left: 300px;
    padding-top: 50px;
    padding-right: 30px;
}

input[type="text"], input[type="password"]{
    width: 300px;
}

body{
    background-color: rgb(230, 231, 233);
}

