#content{
    background-color: rgb(230, 231, 233);
    padding-left: 310px;
    padding-top: 50px;
    padding-right: 10px;
}

input[type="text"], input[type="password"]{
    width: 300px;
}

body{
    background-color: rgb(230, 231, 233);
}

.row{
    display: flex; 
}
  
.col{
    flex: 1; 
}

#predmet-meni{
    width: 100%;
}